*{
  padding: 0;
  margin: 0;
}

body{
background: url(https://media.giphy.com/media/aRZ4vTsHnyW6A/giphy.gif);
}

form{
  width: 100%;
  text-align: center;
}
.input{
  background-color: rgba(255, 249, 249, 0.739);
  border: 1px solid silver;
  border-radius: 10px;
  width: 15%;
  height: 20px;
  margin: 15px 5px 0 0;
  outline: none;
}
form button{
  background-color: rgba(0, 0, 0, 0.561);
  border: 1px solid silver;
  border-radius: 10px;
  width: 5%;
  height: 20px;
  outline: none;
}

.cards{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.card{
  background: url(https://image.freepik.com/free-vector/green-marble-texture-vertical-realistic-background-for-poster-flyer-wedding-card-banner_87408-121.jpg) center / cover no-repeat;
  width: 21%;
  margin-top: 5%;
  padding-bottom: 1%                ;
  border-radius: 20px;
  background-color: rgba(248, 248, 248, 0.767);
}
.img{
  width: 80%;
  margin: 5% 0 0 10%;
  border-radius: 5px;
}
.gender{
  margin-left: 30px;
  margin-top: 5px;
}
.name{
  margin-left: 30px;
  margin-top: 5px;
}
.age{
  margin-left: 30px;
  margin-top: 5px;
}


h3{
  text-align: center;
  margin-top: 5%;
}